<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Jot down your ideas</p>
  <div>
    <a href="/ideas/add" class="btn btn-dark btn-lg mb-2">Add Your Ideas</a>
  </div>
  <div>
    <a href="/ideas" class="btn btn-dark btn-lg">View All Ideas</a>
  </div>
</div>